<h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>

<input
  type="text"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="Filter products..."
  [(ngModel)]="term"
>

<p
  class="text-center text-lg"
  *ngIf="loading"
>Loading...</p>

<div *ngIf="productsService.products">
  <app-product
    *ngFor="let product of productsService.products | filterProducts: term; let i = index"
    [product]="product"
  ></app-product>
</div>

<app-modal *ngIf="modalService.isVisible$ | async" title="Create new product">
  <app-create-product></app-create-product>
</app-modal>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 px-4 py-2"
  (click)="modalService.open()"
>+</button>
